.logo-wrapper {
    width: 3rem;
}

.logo-title {
    font-size: 1.4rem;
}

form.user .form-group {
    position: relative;
}

form.user .form-control-admin {
    width: 100%;
    padding: .8rem 2rem .8rem 2rem;
    margin: 0.4rem;
    border: 1px solid #d1d3e2;
    outline: 0;
    font-size: 0.8rem !important;
    border-radius: 0.2rem;
}

form.user .form-group i {
    position: absolute;
}

form.user .form-group .icon i {
    margin-left: -0.4rem;
    padding: 1.7rem 1.5rem;
    top: -0.35rem;
}

form.user .form-group .show-password {
    float: right;
}

form.user .form-group .show-password i {
    margin-left: -1.4rem;
    top: 1.35rem;
    cursor: pointer;
}

form.user .btn-user {
    font-size: 0.8rem;
}

form.user .form-control-admin:focus,
.pull-left input:focus {
    color: #6e707e;
    background-color: #fff;
    border-color: #bac8f3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}

.bg-login-bacground {
    background: url("../img/login-background.jpg");
    background-position: center;
    background-size: cover;
}

.bg-register-background {
    background: url("../img/register-background.jpg");
    background-position: center;
    background-size: cover;
}

.bg-password-background {
    background: url("../img/forgot-password-background.jpg");
    background-position: center;
    background-size: cover;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td,
.table th {
    padding: 10px 15px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 15px;
}

.table th {
    background-color: rgba(0, 0, 0, .075);
    color: #000;
    padding: 0.75rem;
    vertical-align: top;
    border-bottom: none;
    border-top: 1px solid #dee2e6;
}

.table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.table tbody tr td {
    color: #5a5c69!important;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.btn-search,
.pull-left input {
    border-radius: 0.2rem;
}

.pull-left input {
    border: 0;
    outline: 0;
    border: 1px solid #d1d3e2;
}

.search {
    font-family: Arial, FontAwesome;
    padding: .35rem;
    font-size: 0.8rem !important;
}

@media screen and (max-width: 991.20px) {
    .table thead {
        display: none;
    }
    .table,
    .table tbody,
    .table tr,
    .table td {
        display: block;
        width: 100%;
    }
    .table tr {
        margin-bottom: 15px;
    }
    .table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .table td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}

@media screen and (max-width: 567px) {
    .pull-right {
        float: left !important;
    }
}